{% load socialaccount %}
<html>
    <!-- <head>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
        <title>Service Management System</title>
    </head>
    <body>
        <h1>Log in with Google</h1>
        {%if user.is_authenticated %}
        <p>Welcome, {{user}} !</p>


        {%else %}
        <h1> Click below to log in</h1>
        <a href="{% provider_login_url 'google' %}">Login with Google</a>
        {% endif %}
    </body> -->
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="google-signin-client_id" content="749267782652-v9vdigcvhb9c38socnv39stkjndvr503.apps.googleusercontent.com">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
        <style>
            h1 {text-align: center;}
            p {text-align: center;}
            .center {
                padding: 200px 0;
                text-align: center;
                }
            .center-google{
                display: flex;
                justify-content: center;
                align-items: center;
            }
            .center-about{
                padding: 20px 0;
                display: flex;
                justify-content: center;
                align-items: center;
            }

        </style>
        <title>SB Management System</title>
      </head>
        <body>
            <div class = "container">
                <div class = "center">
                    <h1>SB Management System</h1>
                    <p>Welcome to the perfect management system for service professionals. <br> Please sign in with your google account.<p>
                        
                </div>
                    <div class = "center-google">
                        <a class="btn btn-primary" type="button" role ="button" href="{% provider_login_url 'google' %}">Log in with Google</a>
                    </div>
                    <div class = "center-about">
                        <a class="btn btn-danger" type="button" role ="button">About</a>
                    </div>   
                        <!-- <div class="g-signin2" data-width="400" data-height="50"data-longtitle="true"></div>
                                <script>
                                function onSuccess(googleUser) {
                                    console.log('Logged in as: ' + googleUser.getBasicProfile().getName());
                                }
                                function onFailure(error) {
                                    console.log(error);
                                }
                                function renderButton() {
                                    gapi.signin2.render('my-signin2', {
                                    'scope': 'profile email',
                                    'width': 20,
                                    'height': 20,
                                    'longtitle': true,
                                    'theme': 'light',
                                    'onsuccess': onSuccess,
                                    'onfailure': onFailure
                                    });
                                }
                                </script>
                            
                                <script src="https://apis.google.com/js/platform.js?onload=renderButton" async defer></script> -->
                    
            </div>
         </body>
</html>