SBMSworkspace/*
*/managementsys/managementsys/__pycache__/*
*/managementsys/*.sqlite3
*/managementsys/SBMSworkspace/__pycache__/*
*/managementsys/SBMSworkspace/migrations/*
*.vscode
*.DS_Store

managementsys/SBMSwebapp/__pycache__/*
managementsys/SBMSwebapp/migrations/__pycache__/*
managementsys/db.sqlite3
managementsys/managementsys/__pycache__/*
managementsys/SBMSwebapp/migrations/*